<!DOCTYPE html>
<html lang="uz">

<head>
    <meta charset="UTF-8">
    <title>Foydalanuvchi ma’lumotlari</title>
</head>
<body>
    <h2>Ma’lumot kiriting:</h2>
    <form action="/save" method="post">
        <label>Ismingiz:</label><br>
        <input type="text" name="ism"><br><br>

        <label>Yoshingiz:</label><br>
        <input type="text" name="yosh"><br><br>

        <label>Shahringiz:</label><br>
        <input type="text" name="shahar"><br><br>

        <button type="submit">Saqlash</button>
    </form>
</body>
</html>
